@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
  --base-color: #FFFFE4
  --text-color: #000000
  --primary-color: #9B0000
  --secondary-color: #152238
  --color-1: #FDFBD4
}

* {
  margin: 0;
  padding: 0;
  box-sizig: border-box;
}

html {
  font-family: Merriweather, Playfair-Display, Nunito-Sans, Lora;
  color: var(--text-color);
}

body {
  padding: 1em;
  background-color: var(--base-color);
}

h1, h2, h3 {
  font-family: Montserrat, Playfair-Display, Nunito-Sans, Lora;
}

nav{
  margin: 1em auto 3em auto;
  width: min(1000px, 100%)
}

nav ul {
  display: flex; 
  align-items: center; 
  list-style-type: none;
  gap: 2em; 
}

nav li:first-child {
  margin-right: auto;
  font-family: Merriweather, Playfair-Display;
  font-family: bold;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

nav a:hover{
  text-decoration: underline;
}

header, section {
  margin: 2em auto;
  width: (75em, 100%);
  backgroun-color: var(--color-1);
  padding: min(2em, 15%);
  border-radius: 1em; 
}

.flex-container{
  display: flex;
  justify-content: center;
  align-itens: center; 
  flex-wrap: wrap;
  gap: 3em; 
}

header img{
  max-width: 100%;
  border-radius: 1em;
  object-fit: cover;
  object-position: bottom;
  }

.text-container{
  flex: 0 1 34em; 
}

h1 {
  font-size: 2.5em;
}

.text-container p {
  margin: .75em 0 1em 0; 
  font-size: 1.25em;
}

.cta-button {
  display: inline-block;
  text-decoration: none;
  color: #FFFFE4
  background-color: var(--primary-color);
  padding: .75em 1.25em; 
  border-radius: .5em;
  font-weight: 600;

}
